@import "../../node_modules/dialog-polyfill/dialog-polyfill";
@import "../../node_modules/continuo/dist/css/continuo.css";

.mdl-navigation {
  .mdl-button {
    margin-left: .5em;
  }
}

.mdl-layout__header-row {
  padding: 0 25px 0 25px !important;
}

.score_header {
  min-height: 45px !important;
  border-bottom: 1px solid rgba(0,0,0,.1);

  .mdl-layout__header-row {
    height: 45px;
    padding: 0 5px 0 5px
  }

  .mdl-layout-title {
    margin: 0 0 0 8px;
  }
}

.score {
  padding: 5px;
  overflow: hidden;
  min-height: 400px;
  // transition: width 300ms ease-out, height 300ms ease-out;
}

.score_container {
  // transition: width 300ms ease-out, height 300ms ease-out;
}

.score_collapsed {
  height: 45px !important;
  overflow: hidden;

  .score {
    display: none;
  }

  .score_header nav {
    display: none;
  }

}

.cnt-container {
  position: relative
}

.cnt-emabox {
  position:absolute !important;

  .cnt-emabox-hide {
    position: absolute;
    left: -20px;
    top: 30px;
    font-size: 17px;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 2px 8px 2px 8px;
  }

}
