@import "../../node_modules/dialog-polyfill/dialog-polyfill";
@import "../../node_modules/continuo/dist/css/continuo.css";

.mdl-navigation {
  .mdl-button {
    margin-left: .5em;
  }
}

.mdl-layout__header-row {
  padding: 0 25px 0 25px !important;
}

.score_header {
  min-height: 45px !important;
  border-bottom: 1px solid rgba(0,0,0,.1);

  .mdl-layout__header-row {
    height: 45px;
    padding: 0 5px 0 5px
  }

  .mdl-layout-title {
    margin: 0 0 0 8px;
  }
}

.score {
  padding: 5px;
  overflow: hidden;
  min-height: 400px;
  // transition: width 300ms ease-out, height 300ms ease-out;
}

.score_container {
  // transition: width 300ms ease-out, height 300ms ease-out;
}

.score_collapsed {
  height: 45px !important;
  overflow: hidden;

  .score {
    display: none;
  }

  .score_pagination {
    display: none;
  }

}

.cnt-container {
  position: relative
}

.cnt-emabox {
  position:absolute !important;

  .cnt-emabox-hide {
    position: absolute;
    left: -20px;
    top: 30px;
    font-size: 17px;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 2px 8px 2px 8px;
  }

}

/* Make sure to make responsive */
.score_assertion_dialog, .score_relationship_dialog, .score_assertions_dialog {
  width: 500px !important;

  .types {
    padding: 4px;
  }

  label {
    width: auto;
  }

  .drop {
    float: right;
    margin-top: -4px;
  }

  .score_preview_cnt {
    position: absolute;
    background: white;
    top: 10px;
    right: 10px;
    padding: 5px;
  }
  .score_preview_cnt2 {
    position: absolute;
    background: white;
    top: 50px;
    right: 50px;
    padding: 5px;
  }

  .score_preview_close {
    position: absolute !important;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  i.clickable {
    cursor: pointer;
  }

}

svg {
  .preview_selected {
    color: #ffb944;
    fill: currentColor;
  }
}

.mdl-button--attention {
  background-color: #ffb944 !important;
}


.truncate {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_short {
  width: 112px;
}

.assert_ema, .assert_score {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
  text-overflow: ellipsis;
}

.assert_ema {
  color: rgb(68,138,255);
}

.hide_button{
  position:absolute !important;
  top:10px;
  right:10px;
}

.hide_mode{
    position: absolute !important;
    z-index: 99;
    left: 50%;
}

.mask {
  position:absolute;
  z-index: 1001;
  background-color: lightgrey;
  opacity: 0.4;
}

.dialog_select {
  margin: 1em 0 1em 0;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-bottom: 3px solid #607d8b;
  min-width: 180px;
  color: rgba(0,0,0,.54);
  font-size: 16px;
  outline: none;
}

.dialog_select:disabled {
  color: rgba(0,0,0,.26)
}

.select_label {
  color: rgb(96,125,139);
  font-size: 12px;
  top: 4px;
}

.messages {
  display: none;
  background-color: #ffb944!important;
  color: black;
  padding: 5px;
}

.rel_item {
  padding: 0 !important;
}

.import {
  width: 500px !important;

  .mdl-tabs__panel {
    padding-top: 20px;
    text-align: center;
  }
}

.addFile {
  width: 500px !important;
  .mdl-tabs__panel {
    padding-top: 20px;
  }
  label {
    height: 100% !important;
  }
}

.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}
.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-button--file {
    right: 0;
  }
}

.direction{
  label {
    display: block;
    margin-bottom: 10px;
  }
}
